In [1]:
import pandas as pd
import pyodbc
import numpy as np

class get_df:

    def __init__(self):
        self.DB_infos = {"X01" : ("192.168.1.16", "X01", "cm23357868", "86875332")}
        self.querys = {}
        self.db = str()
        self.df_dict =  dict()
        self.w_code_dict = dict()
        self.point_dict = dict()
        self.result_dict = dict()
        
    def db_connect(self, DB_info):
        DB_Host, DB_Name, DB_User, DB_Password = self.DB_infos[DB_info]
        print("Connecting to database using pyodbc...")
        self.db = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server}; SERVER=' + DB_Host + '; DATABASE=' + DB_Name + '; UID=' + DB_User + '; PWD=' + DB_Password)
        print("Succesfully Connected to database using pyodbc!")
      
    def load_data(self, query):
        df =  pd.read_sql(self.querys[query], self.db)
        return df
    @staticmethod
    def make_ESM():
        df = """SELECT    [日期]
                         ,[代號]
                         ,[名稱]
                         ,[開盤價]
                         ,[最高價]
                         ,[最低價]
                         ,[收盤價]
                         ,[漲跌]
                         ,[漲幅(%)]
                         ,[振幅(%)]
                         ,[成交量]
                         ,[成交量變動(%)]
                         ,[RTIME]
                      
                     
                    FROM [X01].[dbo].[美股日收盤表排行]  where 日期 >= 20220101 order by 日期"""
        return df

In [2]:
sql_base = get_df()
sql_base.db_connect('X01')
sql_base.querys['USS'] = sql_base.make_ESM()

Connecting to database using pyodbc...
Succesfully Connected to database using pyodbc!

In [3]:
USS行情表 = sql_base.load_data('USS')
USS行情表 = USS行情表.sort_values(by = ['日期','代號']).reset_index(drop = True)

In [4]:
USS行情表

,日期,代號,名稱,開盤價,最高價,最低價,收盤價,漲跌,漲幅(%),振幅(%),成交量,成交量變動(%),RTIME
0,20220103,CHEF,The Chefs' Warehouse,33.655,34.8000,33.360,34.50,1.20,3.60,4.17,230274.0,-8.08,402157132
1,20220104,CHEF,The Chefs' Warehouse,34.400,34.9400,34.000,34.18,-0.32,-0.93,2.75,186021.0,-19.22,402269166
2,20220105,CHEF,The Chefs' Warehouse,34.340,35.2200,33.410,33.48,-0.70,-2.05,5.41,221000.0,18.80,402357241
3,20220106,CHEF,The Chefs' Warehouse,33.530,34.1700,33.120,33.16,-0.32,-0.96,3.17,153696.0,-30.45,402469716
4,20220107,CHEF,The Chefs' Warehouse,33.150,33.5000,31.780,31.81,-1.35,-4.07,5.41,343625.0,123.57,402550805
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7943,20230927,CHEF,The Chefs' Warehouse,22.150,22.5000,21.220,21.47,-0.64,-2.89,5.96,766784.0,68.26,465347538
7944,20230928,CHEF,The Chefs' Warehouse,21.500,21.7691,21.030,21.44,-0.03,-0.14,3.45,697899.0,-8.98,465520817
7945,20230929,CHEF,The Chefs' Warehouse,21.720,21.8800,21.040,21.18,-0.26,-1.21,3.97,370332.0,-46.94,465621699
7946,20231002,CHEF,The Chefs' Warehouse,21.110,21.5450,20.460,20.75,-0.43,-2.03,5.23,448069.0,20.99,465920375
7947,20231003,CHEF,The Chefs' Warehouse,20.490,20.6000,20.075,20.16,-0.59,-2.84,2.60,391034.0,-12.73,465936228

In [5]:
USS行情表['日期'] = pd.to_datetime(USS行情表['日期'],format = "%Y%m%d").fillna(0)
USS行情表 = USS行情表.set_index('日期')

In [6]:
USS行情表

,代號,名稱,開盤價,最高價,最低價,收盤價,漲跌,漲幅(%),振幅(%),成交量,成交量變動(%),RTIME
日期,,,,,,,,,,,,
2022-01-03,CHEF,The Chefs' Warehouse,33.655,34.8000,33.360,34.50,1.20,3.60,4.17,230274.0,-8.08,402157132
2022-01-04,CHEF,The Chefs' Warehouse,34.400,34.9400,34.000,34.18,-0.32,-0.93,2.75,186021.0,-19.22,402269166
2022-01-05,CHEF,The Chefs' Warehouse,34.340,35.2200,33.410,33.48,-0.70,-2.05,5.41,221000.0,18.80,402357241
2022-01-06,CHEF,The Chefs' Warehouse,33.530,34.1700,33.120,33.16,-0.32,-0.96,3.17,153696.0,-30.45,402469716
2022-01-07,CHEF,The Chefs' Warehouse,33.150,33.5000,31.780,31.81,-1.35,-4.07,5.41,343625.0,123.57,402550805
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-27,CHEF,The Chefs' Warehouse,22.150,22.5000,21.220,21.47,-0.64,-2.89,5.96,766784.0,68.26,465347538
2023-09-28,CHEF,The Chefs' Warehouse,21.500,21.7691,21.030,21.44,-0.03,-0.14,3.45,697899.0,-8.98,465520817
2023-09-29,CHEF,The Chefs' Warehouse,21.720,21.8800,21.040,21.18,-0.26,-1.21,3.97,370332.0,-46.94,465621699
2023-10-02,CHEF,The Chefs' Warehouse,21.110,21.5450,20.460,20.75,-0.43,-2.03,5.23,448069.0,20.99,465920375
2023-10-03,CHEF,The Chefs' Warehouse,20.490,20.6000,20.075,20.16,-0.59,-2.84,2.60,391034.0,-12.73,465936228

In [7]:
USS1 = pd.Series(USS行情表['代號'])
USSlist = USS1.sort_values().drop_duplicates()
USSlist = list(USSlist)

In [8]:
len(USSlist)

7508

In [9]:
from tqdm import tqdm
USS_dict = {str(USSlist[i]):USS行情表[USS行情表['代號'] == USSlist[i]] for i in tqdm(range(len(USSlist)))}

100%|██████████| 7508/7508 [00:05<00:00, 1462.47it/s]

In [10]:
USS_dict['AAPL']

,代號,名稱,開盤價,最高價,最低價,收盤價,漲跌,漲幅(%),振幅(%),成交量,成交量變動(%),RTIME
日期,,,,,,,,,,,,
2023-08-10,AAPL,Apple,179.48,180.75,177.6,177.97,-0.22,-0.12,1.77,52261944.0,-9.58,460529095